#define SECRET_APN "internet"  // Ganti dengan APN kartu SIM Anda (misal: internet, telkomsel, xlunlimited)
#define SECRET_GPRS_USER ""    // Kosongkan jika tidak ada
#define SECRET_GPRS_PASS ""    // Kosongkan jika tidak ada

#define SECRET_SERVER_IP "YOUR_VPS_IP_ADDRESS" // Ganti dengan IP VPS Anda
#define SECRET_UDP_PORT 3333                   // Port UDP (Default: 3333)
